*.DS_Store
*.RData

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex*.gz

*.dvi
*.ps
*.pdf

*.sw?
*~
\#*\#

*.pygtex
*.pygstyle

*.pyc

comment.cut

private/*

*.hi
*.o

dist/*

*.dyn_hi
*.dyn_o

*.p_hi
*.p_o

*.dylib
*.a

